/* src/components/Home.css */

.home-container {
    padding: 20px;
    text-align: center;
    background-color: var(--background-color);
  }
  
  .search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    border-radius: 8px;
  }
  
  .search-box {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    margin-right: 10px;
    width: 70%;
    background-color: var(--background-color);
    color: var(--primary-color);
  }
  
  .search-dropdown {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    margin-right: 10px;
    background-color: var(--background-color);
    color: var(--primary-color);
  }
  
  .search-button {
    padding: 10px 12px;
    background-color: var(--primary-color);
    width: 50px;
    border: none;
    border-radius: 5px;
    color: var(--background-color);
    font-size: 16px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: var(--highlight-color);
  }
  
  .home-content {
    display: flex;
    gap: 20px;
  }
  
  .profile-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 300px;
    padding: 20px;
    background-color: #FFFFFF;
    color: #1B263B;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .user-profile{
    display: flex;
    align-items: center;
  }

  .profile-icon {
    font-size: 60px;
    color: var(--secondary-color);
  }
  
  .profile-details {
    margin-top: 10px;
  }
  
  .profile-details h2 {
    margin: 10px 0 0 0;
    font-size: 24px;
  }
  
  .profile-details p {
    margin: 5px 0;
    font-size: 16px;
  }
  
  .edit-profile-button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #415A77;
    color: #E0E1DD;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .edit-profile-button:hover {
    background-color: #778DA9;
  }
  
  .post-section {
    flex: 2;
    padding: 20px;
    background-color: #FFFFFF; /* Changed to grey background */
    color: #1B263B; /* Changed text color to better match grey background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .post-section h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .post-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: #E0E1DD;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s;
  }
  
  .post-button:hover {
    background-color: var(--highlight-color);
  }

  
  .avatar-container {
    display: flex;
    align-items: center;
  }
  
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .user-block-info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
  
  .user-info p {
    margin: 0;
    color: #6c757d;
  }
  
  .profile-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .edit-profile-button,
  .view-posts-button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 10px;
    transition: all 0.5s;
  }

  .edit-profile-button:hover,
  .view-posts-button:hover {
    background-color: var(--highlight-color);
  }
  
  