.view-posts-container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 8px;
    margin-top: 3rem;
}
  
  .view-posts-heading {
    font-size: 2rem;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 20px;
  }
  
  .user-post-list {
    list-style-type: none;
    padding: 0;
  }
  
  .post-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.2s;
    cursor: pointer;
  }
  
  .post-item:hover {
    transform: scale(1.02);
  }
  
  .post-content {
    font-size: 1.1rem;
    color: black;
  }
  
  .post-date {
    font-size: 0.9rem;
    margin-top: 10px;
    color: var(--highlight-color);
  }
  
  .like-btn{
    display: flex;
    align-content: flex-end;
  }