.view-posts-container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background-color); /* Using color theme */
    border-radius: 8px;
    margin-top: 3rem;
}
  
  .view-posts-heading {
    font-size: 2rem;
    text-align: center;
    color: var(--primary-color); /* Using color theme */
    margin-bottom: 20px;
  }
  
  .post-list {
    list-style-type: none;
    padding: 0;
  }
  
  .post-item {
    margin-bottom: 20px;
    padding: 15px;
    background-color: var(--secondary-background-color); /* Using color theme */
    border-radius: 8px;
    box-shadow: var(--box-shadow); /* Using predefined box shadow */
    transition: transform 0.2s;
    cursor: pointer;
  }
  
  .post-item:hover {
    transform: scale(1.02);
  }
  
  .post-content {
    font-size: 1.1rem;
    color: black;
  }
  
  .post-date {
    font-size: 0.9rem;
    margin-top: 10px;
  }
  
  .like-button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: var(--primary-color); /* Using color theme */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .like-button:hover {
    background-color: var(--primary-hover-color); /* Slightly darker shade of the primary color */
  }
  
  .like-btn{
    display: flex;
    align-content: flex-end;
  }